@model FootballClub.Models.Football

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Football</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Team)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Team)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TeamId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TeamId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Played)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Played)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Won)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Won)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Draw)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Draw)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.For)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.For)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Against)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Against)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Points)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Points)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FootballId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
