
@{
    ViewBag.Title = "FT Football Club";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Hey</h1>
        <h1>@ViewBag.Title</h1>
        <p>@ViewBag.WelcomeMessage</p>
        <p>@ViewBag.CurrentTime</p>
        <p>@ViewData["CurrentTime"]</p>

    </div>
</body>
</html>


